body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table tr:nth-child(even) {
  background: #f8f8f8;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}

table th {
  background: #999;
  color: #fff;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tablee h3::first-letter {
  font-size: larger;
  font-weight: bold;
  color: #837e7e;
}

.status-not-started {
  color: blue;
}

.status-active {
  color: green;
}

.status-ended {
  color: red;
}

button.btn.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.btn.btn-primary:hover {
  background-color: #0056b3;
}