.containerr {
    /* background-color: red; */
    display: flex;
    justify-content: center;
  }
  .signUp {
    max-width: 480px;
    background-color: #e9ecef;
  }
  .signUp h3 {
    font-weight: bold;
    font-size: 35px;
  }
  .signUp h6 {
    color: #7b7878ce;
  }
  .signUp input {
    display: block;
    height: 40px;
    border: 2px solid #7b7878;
  }
  .signUp label {
    font-size: large;
    color: rgb(23, 141, 192);
  }
  .signUp .button button {
    width: 100%;
    /* background-color: rgba(93, 93, 160, 0.671); */
    font-weight: bold;
    background-color: rgb(0 113 220);
    color: white;
  }
  .signUp p span {
    color: rgb(23, 141, 192);
  }
  
  .signUp p h6 {
    display: inline-block;
    font-weight: bold;
  }